* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #f3f3f3;
    ;
}

.navbar {
    background-color: #f3f3f3;

}

.navbar-container {
    display: flex;
    width: 100%;
    max-width: 1512px;
    height: 100px;
    padding: 22px 100px;
    justify-content: center;
    align-items: center;
    gap: 195px;
    flex-shrink: 0;
    margin: auto;
}

.logo {
    display: flex;
    width: 182px;
    height: 51px;
    padding: 4px 13px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-shrink: 0;
}

.menu ul,
menu li {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.menu a:link,
.menu a:visited {
    color: #696969;
    font-size: 18px;
    font-family: Inter;
    color: #696969;
    text-decoration: none
}

.navbar-container .menu a:hover {
    background-color: #2d92ea3a;
    padding: 15px;
}

.navbar-container button {
    display: flex;
    padding: 13px 50px;
    align-items: flex-start;
    gap: 10px;
    background: #FF5403;
    border: none;
    color: #FFF;
    font-size: 18px;
    font-family: Inter;
    font-weight: 600;
}

.navbar-container button:hover,
.container-3-sections .header button:hover,
.plan-details-btn button:hover {
    background-color: #ff3a03;
}

.header {
    width: 100%;
    height: 722px;
    flex-shrink: 0;
    background: url(/assets/media/banner_bg\ 1.png), lightgray 50% / cover no-repeat;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
}

.header h1 {
    color: #FFF;
    font-size: 8vw;
    /*am pus aici font-size responsive in loc de 96px
    https://www.w3schools.com/howto/howto_css_responsive_text.asp*/
    font-family: Inter;
    font-weight: 700;
    letter-spacing: 6.72px;
}

.header p {
    color: #FFF;
    font-size: 1.5vw;
    /*am pus aici font-size responsive in loc de 20px
    https://www.w3schools.com/howto/howto_css_responsive_text.asp*/
    font-family: Inter;
    letter-spacing: 0.6px;
    padding-bottom: 50px;
}

.header button {
    display: flex;
    width: 250px;
    height: 66px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #FF5403;
    border: none;
    color: #FFF;
    font-size: 18px;
    font-family: Inter;
    font-weight: 600;
}

.top-places header {
    margin-top: 282px;
    margin-bottom: 75px;
}

.top-places h3 {
    color: #041562;
    text-align: center;
    font-size: 36px;
    font-family: Inter;
    font-weight: 600;
    letter-spacing: 1.8px;
}

.top-places p {
    color: #626262;
    text-align: center;
    font-size: 18px;
    font-family: Inter;
    letter-spacing: 0.9px;
}

.top-places-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.discover-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.discover-btn button:hover {
    background-color: #ff3a03;
}

.top-places button {
    width: 250px;
    height: 66px;
    padding: 13px 50px;
    gap: 10px;
    background: #FF5403;
    border: none;
    color: #FFF;
    font-size: 18px;
    font-family: Inter;
    font-weight: 600;
    margin-top: 70px;
    margin-bottom: 109px;
}

.event-container {
    background-image: url(/assets/media/event_bg\ 1.png);
    width: 100%;
    max-width: 1512px;
    height: clamp(700px, 1.5vw, 879px);
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.event {
    display: grid;
    place-items: center;
}

.event-btn {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0px 100px 0px 100px;
}


.event-btn button {
    background-color: transparent;
    border: none;
}

.event-card {
    position: absolute;
    margin: 118px 230px 145px 650px;
    display: inline-flex;
    height: clamp (500px, 1.5vw, 616px);
    padding: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
    flex-shrink: 0;
    background: #FFF;
}

.event-card .event-card-header p {
    color: #FF5403;
    font-size: 18px;
    font-family: Inter;
    letter-spacing: 0.36px;
}

.event-card-header h3 {
    color: #041562;
    font-size: clamp(25px, 1.2vw, 32px);
    font-family: Inter;
    font-weight: 600;
    letter-spacing: 1.6px;
}

.event-card p {
    color: #626262;
    font-size: clamp(16px, 1.2vw, 18px);
    font-family: Inter;
    line-height: 170%;
    letter-spacing: 0.36px;
}

.event-card ul,
.event-card li {
    list-style-type: none;
    color: #606060;
    font-size: clamp(16px, 1.2vw, 18px);
    font-family: Inter;
    line-height: 200%;
    letter-spacing: 0.36px;
}

.rating {
    gap: 5px;
    margin-bottom: 30px;
}

.rating-mobile {
    display: none;
}

.rating p {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
}

.plan-details-btn button {
    display: flex;
    width: auto;
    height: 52px;
    padding: 13px 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    background: #FF5403;
    border: none;
    color: #FFF;
    font-size: 16px;
    font-family: Inter;
    font-weight: 600;
}

.top-HORE {
    padding-top: 124px;
    position: relative;

}

.top-HORE header h2 {
    color: #041562;
    text-align: center;
    font-size: 36px;
    font-family: Inter;
    font-weight: 600;
    letter-spacing: 1.8px;
    margin-bottom: 20px;
}

.top-HORE header p {
    color: #626262;
    text-align: center;
    font-size: 18px;
    font-family: Inter;
    letter-spacing: 0.9px;
    margin-bottom: 75px;
}

.top-HORE-all-cards {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-bottom: 172px;
}

.top-HORE-card header p {
    color: #000;
    font-size: 24px;
    font-family: Inter;
    letter-spacing: 1.2px;
    margin-top: 40px;
    margin-bottom: 25px;
    text-align: start;
}

.top-HORE-card .rating {
    align-items: center;
    margin-bottom: 10px;
    color: #000;
    font-size: 18px;
    font-family: Inter;
    font-weight: 300;
    line-height: 170%;
    letter-spacing: 0.36px;
}

.top-HORE-all-cards>div:hover {
    padding: 10px;
    background-color: #2d92ea14;
}

.location {
    color: #626262;
    font-size: 18px;
    font-family: Inter;
    font-weight: 300;
    line-height: 170%;
    letter-spacing: 0.36px;
    margin-bottom: 10px;
}

.price {
    color: #020202;
    font-size: 18px;
    font-family: Inter;
    font-weight: 300;
    line-height: 170%;
    letter-spacing: 0.36px;
}

.price span {
    color: red
}

.review {
    background: #041562;
}

.review-container {
    background: #041562;
    padding: 100px;
    max-width: 1512px;
    margin: auto;
}

.review-container header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.review-container header p {
    color: #FFF;
    font-size: clamp(32px, 1.5vw, 36px);
    font-family: Inter;
    font-weight: 600;
    letter-spacing: 0.72px;
}

.review-nav-buttons {
    display: flex;
    gap: 25px;
}

.review-nav-buttons i {
    display: flex;
    padding: 21px 25px;
    background-color: #2D93EA;
    border: none;
    font-size: 18px;
    color: white;
}

.feedbacks-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.feedbacks-container>div:hover {
    background: rgba(48, 69, 165, 0.873);
}

.feedback {
    width: 404px;
    padding: 24px 32px;
    align-items: flex-start;
    gap: 35px;
    border-radius: 2px;
    background: rgba(48, 69, 165, 0.60);
}

.feedback p {
    width: 345px;
    color: #FFF;
    font-size: clamp(16px, 1.5vw, 18px);
    font-family: Inter;
    line-height: 170%;
    letter-spacing: 0.36px;
    margin-top: 35px;
}

.review-container header {
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
    align-items: center;
}

.big-footer {
    background: #19224D;
    display: grid;
    place-items: center;

}

.big-footer-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1512px;
    height: 100%;
    padding: 108px 100px;
    justify-content: space-between;
    align-items: flex-start;
    background: #19224D;
}

.big-footer-container div {
    margin-bottom: 50px;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    width: 337px;
    height: 249px;
    padding: 11.539px 37.868px 11.622px 36.654px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    gap: 28px;
}

.destinations header {
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-family: Inter;
    font-weight: 600;
    letter-spacing: 1.2px;
    margin-bottom: 30px;
}

.destinations ul,
.destinations li,
.destinations a:link,
.destinations a:visited {
    color: #FFF;
    font-size: clamp(16px, 1.5vw, 18px);
    font-family: Inter;
    letter-spacing: 0.9px;
    list-style-type: none;
    line-height: 230%;
    font-weight: 250;
    text-decoration: none;
}

.destinations a:hover {
    text-decoration: underline;
}

.contact-us header {
    color: #FFF;
    font-size: 24px;
    font-family: Inter;
    font-weight: 600;
    letter-spacing: 1.2px;
    margin-bottom: 30px;
}

.contact-us p,
.contact-us a:link,
.contact-us a:visited {
    color: #FFF;
    font-size: clamp(16px, 1.5vw, 18px);
    font-family: Inter;
    letter-spacing: 0.36px;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
}

.contact-us a:hover {
    text-decoration: underline;
}

.social-media {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
    height: 70px;
    margin-top: 23px;
}

.social-media h4 {
    color: #FF5403;
    text-align: center;
    font-size: 18px;
    font-family: Inter;
    font-weight: 600;
    letter-spacing: 0.9px;
}

.social-media-icons i {
    font-size: 40px;
    margin-right: 10px;
}

.legals {
    background: #000B3E;
    display: grid;
    place-items: center;
}

.legals-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1512px;
    height: 65px;
    background: #000B3E;
}

.legals-container p {
    color: #C4C4C4;
    font-size: 16px;
    font-family: Inter;
    letter-spacing: 0.8px;
}

.navbar-container,
.top-places,
.top-HORE {
    background-color: #F3F3F3;
    ;
}

/*start to review this for overlapping section*/

.container-2-sections {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 1512px;
    margin: auto;
}

.overlay-section {
    position: absolute;
    padding: 31px 24px;
    width: 75%;
    height: 192px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 39px;
    background: #FFF;
    box-shadow: 0px -1.9647520780563354px 2.2138051986694336px 0px rgba(167, 207, 255, 0.02), 0px -4.721572399139404px 5.32008171081543px 0px rgba(167, 207, 255, 0.03), 0px -8.890301704406738px 10.017241477966309px 0px rgba(167, 207, 255, 0.04), 0px -15.858778953552246px 17.869047164916992px 0px rgba(167, 207, 255, 0.04), 0px -29.66210174560547px 33.422088623046875px 0px rgba(167, 207, 255, 0.05), 0px -71px 80px 0px rgba(167, 207, 255, 0.07);
    top: -50px;
}

/*end to review this for overlapping section*/

.overlay-section-links {
    margin-bottom: 39px;
}

.overlay-section-links button {
    justify-content: center;
    align-items: center;
    gap: 17px;
    border: none;
    background-color: transparent;
    color: #51728E;
    font-size: 16px;
    font-family: Inter;
    padding: 17px 22.5px;
}

.overlay-section-links button:hover {
    border: 2px solid;
    border-color: transparent transparent #2D93EA transparent;
}

.select-tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 26px;
    width: 700px;
}

.select-tab button {
    display: flex;
    width: 198px;
    height: 52px;
    padding: 13px 50px;
    justify-content: center;
    align-items: center;
    background: var(--btn-orang, #FF5403);
    border: none;
    gap: 10px;
    color: #FFF;
    font-size: 18px;
    font-family: Inter;
    font-weight: 600;
}

select {
    width: 197px;
    height: 55px;
    padding: 15px 21px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #2D93EA;
    background: #FFF;
    color: #2D93EA;
    font-size: 16px;
    font-family: Inter;
    font-weight: 300;
}

input[type=date] {
    width: 197px;
    padding: 15px 21px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #2D93EA;
    background: #FFF;
    color: #2D93EA;
    font-size: 16px;
    font-family: Inter;
    font-weight: 300;
}

input[type=number] {
    display: flex;
    width: 197px;
    height: 55px;
    padding: 15px 21px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #2D93EA;
    background: #FFF;
    color: #2D93EA;
    font-size: 16px;
    font-family: Inter;
    font-weight: 300;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 768px) {

    .navbar-container {
        gap: 0px;
        padding: 0px 20px;
        justify-content: space-between;
    }

    .menu,
    .navbar-container button {
        display: none;
    }

    .mobile-menu {
        display: flex;
        color: #FF5403;
        font-size: 35px;
    }

    .event-card {
        margin: 0;
        width: 70%;
        gap: 0px;
    }

    .event-container {
        display: flex;
        justify-content: center;
    }

    .event-btn {
        z-index: 2;
        margin: 0;
        width: 98%;
    }

    .event-card p {
        margin-bottom: 10px;
        line-height: 130%;
    }

    .event-card ul,
    .event-card li {
        line-height: 140%;
    }

    .rating {
        display: none;
    }

    .rating-mobile {
        display: block;
    }

    .top-HORE-all-cards {
        flex-direction: column;
        padding-left: 40px;
    }


    .top-HORE-card img {
        width: 90%;
        height: 100%;
    }

    .select-tab {
        display: none;
    }

    .top-places header {
        margin-bottom: 20px;
    }

    .top-places-cards {
        gap: 20px;
    }

    .top-places-cards img {
        width: 80%;
        height: auto;
    }

    #fb2,
    #fb3 {
        display: none;
    }

    .review-container {
        padding: 50px;
    }

    .feedback {
        width: 90%;
    }

    .feedback p {
        width: 100%;
        margin-top: 0;
        margin-bottom: 10px;
    }

    .big-footer-container {
        padding: 20px 50px 0px;
    }

    #arrow {
        width: 100px;
        height: 100px;
    }

    #text {
        width: 170px;
        height: 25px;
    }

    .big-footer-container div {
        margin-bottom: 20px;
    }

    .footer-logo {
        width: 100%;
    }

    .destinations header {
        margin-bottom: 20px;
        text-align: start;
    }

    .contact-us header {
        margin-bottom: 20px;
    }


    .destinations ul,
    .destinations li,
    .destinations a:link,
    .destinations a:visited {
        line-height: 100%;
        margin-bottom: 10px;
    }

    /*sa incerc aici sa aliniz normal cu spacebetween*/
    .social-media {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .social-media-icons {
        display: flex;
        justify-content: space-between;
    }
}